{% include 'incl/header.twig' %}

<body>
   {% include 'incl/nav.twig' %}

   <div class="main" role="main">
       {{ content }}


<!--       <div class="gallery-container">
            {% for image in meta["Images"] %}
                <a href="{{ assets_url }}{{ image.url }}" target="_blank">
                    <img src="{{ assets_url }}{{ image.url }}?w=333&h=333&crop-to-fit" alt="{{ image.alt }}"
                </a>
            {% endfor %}
            </div>
        </div> -->



     <div class="gallery-container">
       {% for image in meta["Images"] %}
           <a href="{{ base_url }}{{ image.url }}" target="_blank">
               <img src="{{ base_url }}{{ image.url }}?w=333&h=333&crop-to-fit" alt="{{ image.alt }}"
           </a>
       {% endfor %}
       </div>
   </div>

   {% include 'incl/footer.twig' %}
</body>

</html>
